script.txt
out.py
out.txt
script1.txt
google-python-exercises/copyspecial/solution
google-python-exercises/logpuzzle/solution
google-python-exercises/basic/solution
google-python-exercises/babynames/solution
